
@{
    ViewBag.Title = "About Us";
}

<!-- Top background -->
<div id="bgTopAboutUs">

    <!-- Centered captions -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="caption-left-white-aboutus-1">WHO WE ARE</h1>
                <h1 class="caption-left-white-aboutus-2">
                    Searching for an auto body shop can be dreadful.  Most of us know little about body repair and fear that body shops will stick us with a big bill. Not only can you easily overpay for your car repair, but you may also need to deal with the hassle of leaving your car at the shop for a few days.
                    <br /><br />
                    This is why we created Fyxme, the online platform that connects users  with mobile car repair technicians that won't charge you an arm and a leg to fix your car! The process is simple, you upload photo(s) of your scratch, dent or ding to our website and we determine a fair price to fix your car. Once you accept our quote, we schedule an appointment for a local car technician to come to you directly at your desired time and location.That way, you can get your car repaired at your own convenience and avoid any disruption in your daily routine.
                </h1>
            </div>
        </div>
    </div>

</div>

<div id="spacer_to_content-aboutus">