
@{
    ViewBag.Title = "Privacy Policy";
}

<!-- Centered captions -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="policy-privacy-text">

                <div class="clearfix colelem" id="u5130-220" data-muse-uid="U5130" data-muse-type="txt_frame">
                    <!-- content -->
                    <h1 class="title-left" id="u5130-2">Privacy Policy</h1>
                    <p class="text-left">Fyxme Inc. and its affiliates take your privacy seriously. This Privacy Policy explains how we collect, use, share, and protect each and every client's Personal Information. If you do not want your Personal Information handled in this manner, please do not use the Fyxme Site. Personal Information is information that could be used to identify an individual, such as your name, Phone number, and e-mail address.</p>
                    <p class="text-left">This Privacy Policy applies only to information that we collect on Fyxme.com and through Fyxme mobile app Site, including the mobile application for service requesters and the mobile application for service professionals (the &quot;App&quot;) (collectively the &quot;Fyxme.com&quot;).</p>
                    <p class="text-left">Any information you provide through fyxme site, including any Personal Information, will be transferred to and processed by computer servers located within the United States.</p>
                    <h3 class="subtitle-left" id="u5130-10">a) Information We Collect</h3>
                    <p class="text-left">We collect information that you voluntarily provide through the Fyxme Site.<br />If you are using the Fxyme site request services, you may give us:</p>
                    <ol class="list0 nls-None" id="u5130-32">
                        <li class="text-left"><span id="u5130-15">Personal information</span>, such as your full name, repair location, address, telephone&nbsp; number, and email address</li>
                        <li class="text-left"><span id="u5130-18">If you participate on the Fyxme Site</span> as a third party service professional, you may need&nbsp; to provide us with:<br />A) Contact information, such as your full name, email, address, and phone number</li>
                        <li class="text-left"><span id="u5130-23">Application information</span>, if requesting to become a third party contractor professional through the Fyxme site we may ask things such as; your experience, skills, eligibility to work, and availability<br />A) If you are a service professional who wishes to participate in servicing in the United States and you are selected you will need to provide social security for a background check</li>
                        <li class="text-left"><span id="u5130-28">If you apply as a contractor form for employment with Fyxme, you will need to provide us with:</span><br />Contact information, including your name, email address, telephone number, and mailing address, Resume.</li>
                    </ol>
                    <h3 class="subtitle-left" id="u5130-34">b) Information We Collect Through Technology</h3>
                    <p class="text-left">We collect information through technology to better serve you. When you access and use the Fyxme site, in some cases, our third-party service providers collect information about how you interact with the fyxme site. We describe below a few of the methods we use to collect information through technology.</p>
                    <p class="text-left">When you visit the Fyxme site, we collect your Internet Protocol (IP) address. An IP address is often associated with the portal you used to enter the Internet, like your Internet service provider (ISP), company, association, or university. While an IP address may reveal your ISP or geographic area, we cannot determine your identity solely based upon your IP address. However, we may link the last IP address you used to access the Fyxme Site to match Personal Information you provide us.</p>
                    <p class="text-left">We may also collect a unique identifier for your computer, mobile device, or other device used to access the Fyxme Site. A Device Identifier is a number that is automatically assigned to the device you used to access the Fyxme site. We may link the Device Identifier to other information about your visit, such as what pages you viewed, and to Personal Information you provide us, such as your name.</p>
                    <p class="text-left" id="u5130-44">Do We Use Cookies?<br /><span id="u5130-43">Yes. cookies is a small piece of text sent to your browser by a website you visit, It helps the website to remember information about your visit, like your preferred language and other settings.</span></p>
                    <p class="text-left"><span id="u5130-45">Web Beacons</span><br />We may include small graphic images or other web programming code, called web beacons (also known as &quot;pixel tags&quot;, &quot;web bugs&quot; or &quot;clear GIFs&quot;), in our web and mobile pages and messages. The web beacons are minute graphics with a unique identifier. They are used to track the online movements of Web users. In contrast to cookies, which are stored in a user's computer hard drive, web beacons are embedded invisibly on Web pages and are about the size of the period at the end of this sentence. Web beacons help us better manage content on the Fyxme Site by informing us what content is effective, monitoring how users navigate the the Site, counting users of the Fyxme Site, and counting how many e-mails sent by us were actually opened.</p>
                    <p class="text-left"><span id="u5130-49">Your 'Do Not Track' Browser Setting</span><br />We do not support the Do Not Track (DNT) browser setting. DNT is a preference you can set in your browser's settings to let the websites you visit know that you do not want the websites collecting your Personal Information.</p>
                    <p class="text-left">We do track your online activities over time and across third-party websites or online services. For example, we use web beacons to help us determine what links or advertisers brought you to our Site. We also use third-party service providers to display advertisements to you on other websites based on your activities while on the Fyxme Site.</p>
                    <h3 class="subtitle-left" id="u5130-56">c) Information Collected by Mobile Applications</h3>
                    <p class="text-left">When you use the App, the App may automatically collect and store some or all of the following information from your mobile device (&quot;<span id="u5130-58">Mobile Device Information</span>&quot;), including, but not limited to:</p>
                    <ul class="list0 nls-None" id="u5130-69">
                        <li class="text-left">The type of Internet browsers you use with the App.</li>
                        <li class="text-left">Your preferred country site.</li>
                        <li class="text-left">Your mobile operating system.</li>
                        <li class="text-left">Your phone number or other identifiers assigned to your mobile device, including: The IP address of your mobile device, The manufacturer and model of your mobile device</li>
                    </ul>
                    <p class="text-left">We may also collect information about how you use the App, such as the amount of time you spend using the App, how many times you use a specific feature of the App over a given time period, how often you use the App, and actions you take in the App. In addition, we may gather information about the website from which you downloaded the App to help us determine what App download site is most effective (collectively &quot;<span id="u5130-71">App Usage Information</span>&quot;).</p>
                    <p class="text-left">We may link your Mobile Device Information and App Usage Information to Personal Information you have provided us, in which case we will treat the combined information as Personal Information.</p>
                    <p class="text-left"><span id="u5130-76">Location Tracking</span><br />If you are a service professional using Fyxme mobile app. for service professionals (the &quot;<span id="u5130-79">Pro Portal</span>&quot;), we may collect your geographic location by using Global Positioning System (GPS) information sent to us from the Pro Portal. For more information on when this information is collected, how we use it, and with whom it is shared, services professionals should refer to the Service Professional Agreement available on the service professional portal.</p>
                    <p class="text-left">We only collect location information about service professionals who have been accepted to participate with Fyxme inc. and not about service requesters or about service professionals applying to participate with Fyxme.</p>
                    <h3 class="subtitle-left" id="u5130-85">d) Information You Provide About A Third Party</h3>
                    <p class="text-left">If you choose to use our referral service to tell a friend about the Fyxme, we may collect your friend's name and email address. We will automatically send your friend a one-time email inviting him or her to visit the Fyxme. We store this information only to send this one-time email and to track the success of our referral program. We do not use this information for any other marketing purpose unless we obtain consent from that person or we explicitly say otherwise. Please be aware that when you refer a friend, your e-mail address may be included in the message sent to your friend.</p>
                    <h3 class="subtitle-left" id="u5130-89">e) Information Third Parties Provide About You</h3>
                    <p class="text-left">We may supplement the information we collect about you through the Fyxme with records received from third parties in order to enhance our ability to serve you, to tailor our content to you, and to offer you information that we believe may be of interest to you. For example, websites on which we have placed advertisements, such as Google, may tell us which ads about Fyxme you clicked. This is often called &quot;conversion tracking.&quot;</p>
                    <p class="text-left">In addition, when third parties such as Hirease, Onfido or Checkr.com conduct background checks on service professionals, those third parties share the results of the background check with Fyxme.</p>
                    <p class="text-left">We will apply this Privacy Policy to any Personal Information received from third parties, unless we have disclosed otherwise.</p>
                    <h3 class="subtitle-left" id="u5130-97">II. HOW WE USE THE INFORMATION WE COLLECT</h3>
                    <p class="text-left">We use the information we collect to serve our customers, consider applicants, market and promote our services, and improve your experience with Fyxme Inc. Some examples include:</p>
                    @*<ul class="list0 nls-None" id="u5130-102">
                            <li class="text-left">Scheduling, rescheduling, and cancelling services</li>
                        </ul>*@
                    <ul class="list0 nls-None" id="u5130-133">
                        <li class="text-left">Scheduling, rescheduling, and cancelling services</li>
                        <li class="text-left">Rating service professionals</li>
                        <li class="text-left">Addressing service complaints</li>
                        <li class="text-left">Communicating with you by email, telephone, or text message, in accordance with your wishes</li>
                        <li class="text-left">Considering whether to engage service professionals with Fyxme</li>
                        <li class="text-left">Evaluating job applications to work with Fyxme</li>
                        <li class="text-left">Improving customer service</li>
                        <li class="text-left">Sending you marketing and promotional emails, unless you have told us you do not want to receive such emails</li>
                        <li class="text-left">Troubleshooting technical problems on the Fyxme</li>
                        <li class="text-left">Responding to questions and feedback</li>
                        <li class="text-left">Conducting research and analysis</li>
                        <li class="text-left">Running online or mobile sweepstakes, contents, or other promotions</li>
                        <li class="text-left">Marketing and advertising products and services</li>
                        <li class="text-left">Continuously evaluating and improving the online and mobile user experience</li>
                        <li class="text-left">Preventing, discovering and investigating violations of this Privacy Policy or any applicable terms of service or terms of use for the Mobile Application, and investigating fraud, chargebacks or other matters</li>
                        <li class="text-left">Contacting you with regard to your use of the Fyxme and, in our discretion, changes to the Fyxme and/or the Fyxme policies</li>
                    </ul>
                    <p class="text-left" id="u5130-137">Data Retention<br /><span id="u5130-136">We delete the back-ups of the databases containing your Personal Information after 9 months, unless you request that we delete it earlier.</span></p>
                    <h3 class="subtitle-left" id="u5130-139">III. HOW WE SHARE THE INFORMATION WE COLLECT</h3>
                    <p class="text-left">We do not sell, rent, or trade your Personal Information to third parties other than as disclosed in this Privacy Policy at the time you provide your information. The following are some of the ways we share your information:</p>
                    <p class="text-left"><span id="u5130-142">a) Third Parties Providing Services on Our Behalf</span><br />Third party companies and individuals provide or facilitate certain aspects of the services offered through the Fyxme on our behalf. We may provide these third-party service providers with access to your information, including your Personal Information, so that they can perform these services for us. We require these third-party service providers to provide safeguards for your Personal Information similar to the ones that we provide.</p>
                    <p class="text-left">The following are some examples of how we share your information with third-party service providers.</p>
                    <ul class="list0 nls-None" id="u5130-156">
                        <li class="text-left">We retain third-party service providers to help us perform data analytics regarding your interactions with the Fyxme. For example, Google Analytics (privacy policy here) and Bounce Exchange (privacy policy here) may track what pages users visit on the Site, whether users use any coupon codes, and what services users request to determine how users use the Site.</li>
                        <li class="text-left">In some cases, these third-party service providers, such as Epsilon, may in turn share your Personal Information, such as your name and email address, with other third parties for their marketing-related purposes. If you wish to opt out of having your Personal Information shared with such third parties, please email Info@fyxme.com</li>
                        <li class="text-left">We may disclose your Personal Information to an attorney in the process of obtaining legal advice.</li>
                        <li class="text-left">When service professionals applying to participate on the Fyxme Site in the United States provide their Social Security numbers for a background check, the Social Security number is transmitted using SSL encryption to the background check service provider. Fyxme also securely provides U.S. service professional's Social Security numbers to the check processor.</li>
                    </ul>
                    <p class="text-left" id="u5130-162">f) Administrative and Legal Reasons<br />Required Disclosures:<br /><span id="u5130-161">We may be required to disclose Personal Information in response to a court order, subpoena, civil discovery request, other legal process, or as otherwise required by law.</span></p>
                    <p class="text-left"><span id="u5130-163">Legal Compliance and Protections:</span><br />We may disclose account and other Personal Information when we believe disclosure is necessary to comply with the law or to protect the rights, property, or safety of Fyxme Inc. our users, or others. This includes exchanging Personal Information with other companies and organizations for fraud prevention and credit risk reduction.</p>
                    <p class="text-left"><span id="u5130-167">g) Corporate Transactions</span><br />We reserve the right to disclose and transfer your information, including your Personal Information:</p>
                    <ul class="list0 nls-None" id="u5130-175">
                        <li class="text-left">To a subsequent owner, co-owner, or operator of the Fyxme or successor database.</li>
                        <li class="text-left">In connection with a corporate merger, consolidation, the sale of substantially all of our membership interests and/or assets or other corporate change, including to any prospective purchasers.</li>
                    </ul>
                    <h3 class="subtitle-left" id="u5130-177">CHILDREN'S ONLINE PRIVACY PROTECTION ACT COMPLIANCE</h3>
                    <p class="text-left">We do not collect any information from anyone under 13 years of age. The Fyxme Site, and products and services offered through it, are all directed to people who are at least 13 years old or older. If you are under the age of 13, you are not authorized to use the Fyxme Site.</p>
                    <h3 class="subtitle-left" id="u5130-181">CALIFORNIA ONLINE PRIVACY PROTECTION ACT COMPLIANCE/YOUR CALIFORNIA PRIVACY RIGHTS</h3>
                    <p class="text-left">California residents who use the Fyxme may request that we provide certain information regarding our disclosure of your Personal Information to third parties for their direct marketing purposes. You can make such a request by e-mail to info@fyxme.com.</p>
                    <h3 class="subtitle-left" id="u5130-185">HOW WE PROTECT THE INFORMATION WE COLLECT</h3>
                    <p class="text-left">The security and confidentiality of your Personal Information is important to us. We have implemented technical, administrative, and physical security measures to protect your Personal Information from unauthorized access or disclosure and improper use.</p>
                    <p class="text-left">For example, when users book services, the information they input is encrypted through SSL encryption. access to your Personal Information is restricted in our offices. Only employees who need the Personal Information to perform a specific job, for example, sales representatives, managers, and customer service staff, are granted access to Personal Information. All employees with access to Personal Information are kept up-to-date on our security and privacy practices. After a new policy is added, these employees are notified and/or reminded about the importance we place on privacy, and what they can do to enhance protection for our users' Personal Information.</p>
                    <p class="text-left">It is important for you to protect against unauthorized access to your account password and to your computer. Be sure to log out of your account or to close your browser after you have completed your visit to our Site.</p>
                    <p class="text-left">Please note that despite our reasonable efforts, no security measure is ever perfect or impenetrable, so we cannot guarantee the security of your Personal Information.</p>
                    <h3 class="subtitle-left" id="u5130-195">V. YOUR CHOICES REGARDING THE INFORMATION WE COLLECT</h3>
                    <p class="text-left">You may contact <a class="nonblock" href="mailto:hello@fyxme.com">hello@@fyxme.com</a> to update, correct, or delete your Personal Information. You may also update, correct, and delete some of your Personal Information through your account on the Fyxme.</p>
                    <p class="text-left">In addition, you may cancel or modify the email communications you have chosen to receive from the Fyxme Site by following the instructions contained in emails from us.</p>
                    <h3 class="subtitle-left" id="u5130-204">VI. HAVE QUESTIONS?</h3>
                    <p class="text-left">If you have any questions about this Privacy Policy, we'll do our best to answer them promptly. Here's how to contact us:</p>
                    <p class="text-left">Email: <a class="nonblock" href="mailto:hello@fyxme.com">hello@fyxme.com</a></p>
                    <h3 class="subtitle-left" id="u5130-212">PRIVACY POLICY UPDATES</h3>
                    <p class="text-left">We may change this Privacy Policy, we will post those changes on this page and update the Privacy Policy modification date above. If we materially change this Privacy Policy in a way that affects how we use or disclose your Personal Information, we will notify you by prominently posting a notice of such changes before making them and by stating the effective date of the changes.</p>
                    <p class="text-left">updated: <span id="u5130-216">November 4, 2015</span></p>
                    <p class="text-left">&nbsp;</p>
                </div>


            </div>


        </div>


    </div>
</div>
