@{
    ViewBag.Title = "Request Sent";
}

<!-- Top background -->
<div id="bgTopRequestSent">

    <!-- Centered captions -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="caption_center_white_1">Confirmation!</h1>
                <h1 class="caption_center_white_2">Your request has been sent succesfully. You will receive a quote shortly.</h1>
            </div>
        </div>
    </div>
    <!-- End -->

</div>
<!-- End -->

<div id="spacer_to_content">
