
@{
    ViewBag.Title = "Terms and conditions";
}

<!-- Centered captions -->

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="policy-privacy-text">

                <!-- m_editable region-id="editable-static-tag-U5133" template="terms-and-conditions.html" data-type="html" data-ice-options="disableImageResize,link" -->
                <div class="clearfix colelem" id="u5133-33" data-muse-uid="U5133" data-muse-type="txt_frame">
                    <!-- content -->
                    <h1 class="title-left" id="u5133-2">Terms and Conditions</h1>
                    <p class="text-left">Welcome to the Fyxme Corp website. This website is made available to provide visitors with information and material about Fyxme Corp and services.</p>
                    <h3 class="subtitle-left" id="u5133-6">A. You agree to our terms of use</h3>
                    <p class="text-left">By accessing or using this website, web page, you agree to the terms of use of our website set out within. The terms of use include our legal disclaimer and our privacy statement and any other terms or conditions on this website. We may change the terms of use at our discretion and without notice. By continuing to use our website you accept the terms of use as they apply from time to time. A copy of our current terms of use is displayed on our website at all times. This disclaimer is in no way limited or altered by any other terms or conditions on this website.</p>
                    <h3 class="subtitle-left" id="u5133-10">B. Use of this website</h3>
                    <p class="text-left">Fyxme Corp is not responsible in any manner for direct, indirect, special or consequential damages, however caused, arising out of your use of this website, web pages, links and/or any web browser, including any damages you may suffer if you transmit confidential or sensitive information to us via our website or linked websites or if we communicate such information to you at your request over the Internet. Links to other websites from this website are for convenience only. No endorsement of any third party products, services or information is expressed or implied by any information, material or content referred to or included on, or linked from or to this website.</p>
                    <h3 class="subtitle-left" id="u5133-14">C. Website material not broker or risk manager advice</h3>
                    <p class="text-left">Your use of this website or the receipt of any information from us on this website is not intended to create nor does it create a broker relationship between you and Fyxme.</p>
                    <h3 class="subtitle-left" id="u5133-18">E. Disclaimer of liability</h3>
                    <p class="text-left">While all care is taken to keep the website free of viruses, Fyxme corp makes no warranty and disclaim any liability for any loss or damage arising whatsoever concerning the presence of viruses that may exist or later populate the website, any web pages, links or web browsers.</p>
                    <h3 class="subtitle-left" id="u5133-22">Complaints and Disputes</h3>
                    <p class="text-left">Fyxme corp is committed to the fair, transparent and timely resolution of any disputes.&nbsp; Please contact us if you have any complaints about our services.</p>
                    <p class="text-left">The following is our complaints process:</p>
                    <h3 class="subtitle-left" id="u5133-28">THIRD PARTY SERVICES AND CONTENT.</h3>
                    <p class="text-left">The Services may be made available or accessed in connection with third party services and content (including advertising) that Fyxme does not control. You acknowledge that different terms of use and privacy policies may apply to your use of such third party services and content. Fyxme does not endorse such third party services and content and in no event shall Fyxme be responsible or liable for any products or services of such third party providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited will be a third-party beneficiary to this contract if you access the Services using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third party beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner. Your access to the Services using these devices is subject to terms set forth in the applicable third party beneficiary's terms of service.</p>
                    <p class="text-left">&nbsp;</p>
                </div>
            </div>


        </div>


    </div>
</div>
