<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fyxme.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fyxme.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fyxme</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fyxme</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fyxme.database.windows.net,1433;Initial Catalog=fyxme;User ID=fyxmeAdmin@fyxme;Password=Whatsup529!" Name="Data Source=tcp:fyxme.database.windows.net,1433;Initial Catalog=fyxme;User Id=fyxmeAdmin@fyxme;Password=Whatsup529!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Fyxme.Models.ApplicationDbContext, Fyxme" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="defaultConnString" Order="2" Enabled="False">
          <Destination Path="Provider=SQLNCLI11;Data Source=fyxme.database.windows.net;Persist Security Info=True;Password=Whatsup529!;User ID=fyxmeAdmin;Initial Catalog=fyxme" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fyxme.database.windows.net;Initial Catalog=fyxme;User ID=FyxmeAdmin;Password=Whatsup529!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\defaultConnString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=fyxme.database.windows.net;Initial Catalog=fyxme;User ID=FyxmeAdmin;Password=Whatsup529!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fyxme.database.windows.net,1433;Initial Catalog=fyxme;User Id=fyxmeAdmin@fyxme;Password=Whatsup529!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)defaultConnString-Web.config Connection String">
      <ParameterValue>Provider=SQLNCLI11;Data Source=fyxme.database.windows.net;Persist Security Info=True;Password=Whatsup529!;User ID=fyxmeAdmin;Initial Catalog=fyxme</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>